.card {
    
    background: rgba(41, 41, 41, 0.6);
    width: 200px;
    height: 300px;
    border-radius: 5px;
    justify-content: center;
    align-items:center;
    font-size: 16px;
    position: relative;
    overflow: hidden;    
}

.image {
    position: absolute;
    top: 10px;
    left: 10px;
}

.name {
    justify-content: space-around;
    color:aqua;
    position: absolute;        
    padding: 10px 23px;
    font-size: 16px;
    top: 180px;

}

.genres {
    color:rgb(82, 180, 180);
    position: absolute;
    top: 230px;
    padding: 2px 15px;
    font-size: 13px;
}