.home{
    position: absolute;
    background: black;   
    width: 100%; 
    background-size: cover; 
    height: 130vh; 
    
}

.title{
    color: aqua;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}
