.NavBar{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    font-family: 'calibri';
    padding-bottom: 15px; 
    align-items: center; 
}

.link{
    color: black;
    padding: 10px 0;
    text-decoration: none;
    font-weight: 800;
    width: 12%;  
}

.link:hover {
    width: 12%;
    background: black;
    color:aqua;
    transform: translateY(5px);
    border-radius: 5px;
}
